.sidebar {
  width: 70px;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 10px;
  position: sticky;
  &__link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
}
